REACT_APP_API_URL=https://strangers-play-backend.onrender.com
REACT_APP_SOCKET_URL=https://strangers-play-backend.onrender.com
REACT_APP_MEDIA_BASE_URL=https://strangers-play-backend.onrender.com
REACT_APP_VAPID_PUBLIC_KEY=BESZWDQRyJyEgRow94uzdVWVKhOUAo460urAwdaFYhhHYQoqWdDfrZj1ZriG7G0mPrl0bZQkiBrBTUw0D3dCtNI



